NODE_ENV=production
PORT=3001
DATABASE_URL=
FRONTEND_URL=https://veilorarh.com
ROBINHOOD_CHAIN_RPC=https://rpc.mainnet.chain.robinhood.com
ROBINHOOD_CHAIN_ID=4663
CO_SIGNER_SHARD_B_SECRET=
RELAYER_PRIVATE_KEY=
VEILORA_FACTORY_ADDRESS=0x210f310f150c0df3224d61ca7dcaf3e1ad578bd7
VEILORA_SHIELDED_POOL_ADDRESS=0x5e4e2bec80528b0dd30182a7a956dc0e53826b80
USDG_TOKEN_ADDRESS=0x5fc5360D0400a0Fd4f2af552ADD042D716F1d168
PPOI_PROVIDER_URL=
